@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: black;
  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
}

::-webkit-scrollbar {

  display: none;
}

ul {
  list-style: none;
}

.btn {
  border: 2px solid #F94892;
  width: fit-content;
  padding: 15px 25px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  position: relative;
  bottom: 0;
  margin-top: 50px;
  transition: all 0.35s ease-out;
  background-color: transparent;
}

.btn:hover {
  background-color: #F94892;
  bottom: 12px;
  box-shadow: 0 0 20px 1px rgba(205, 106, 139, 0.65);
}

.btn:active {
  background-color: rgb(141, 33, 78);
}


.header{
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  padding-right: 0;
  /* background: transparent; */
  backdrop-filter: blur(3px);
  z-index: 100;
}
.header .logo {
  cursor: pointer;
}

.header .logo .logo-img{
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}

.header .logo .logo-img span {
  font-weight: 600;
  color: #F94892;
}

.header .logo .logo-img .blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
      color: #F94892;
  }

  50% {
      color: transparent;
  }
  100% {
      color: #F94892;
      
  }
}

.header .nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 70%;
}

.nav-menu li{
  width: max-content;
  padding: 10px;
  transform: rotate(270deg);
}

.nav-menu li .navLink{
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.nav-menu li .navLink:hover {
  color: #F94892;
}

.nav-menu li {
  transition: all 0.5s ease-in-out;
}

.nav-menu li:hover {
  color: #F94892;
  transform: scale(1.3) rotate(270deg);
}

.header .social-links {
  width: 3rem;
  display: flex;
  flex-direction: column;
}

.header .social-links .social{
  margin: 5px 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.header .hamburger {
  display: none;
}

.header .social-links .social:hover {
  transform: scale(1.5);
  fill: #F94892;
}


@media screen and (max-width: 750px), (max-height: 550px) {
  .header {
      width: 100vw;
      height: auto;
      flex-direction: row;
      padding: 10px 20px;
      z-index: 100;
      backdrop-filter: blur(30px);
  }

  .header .logo {
      width: auto;
      height: auto;
      margin: 0;
  }

  .header .logo .logo-img {
      font-size: 40px;
  }

  .header .hamburger {
      display: initial;
      z-index: 10;
  }

  .header .hamburger .bars {
      height: 100%;
  }

  .header .nav-menu {
      width: 50vw;
      position: absolute;
      top: 0;
      height: 85vh;
      right: -100%;
      transition: 0.5s;
      background: rgb(18, 18, 18);
  }

  .header .nav-menu.active {
      right: 0;
      z-index: 10;
  }

  .header .nav-menu li {
      transform: rotate(0deg);
      padding: 5px 10px;
      z-index: 12;
      transition: all 0.3s ease-in-out;
  }

  .nav-menu li:hover {
      transform: scale(1.12);
  }

  .header .social-links {
      padding: 2rem;
      position: absolute;
      top: 85vh;
      height: 20vh;
      right: -100%;
      width: 50%;
      flex-direction: row;
      justify-content: space-evenly;
      transition: 0.5s;
      z-index: 110;
      background: rgb(18, 18, 18);
  }

  .header .social-links.active {
      right: 0;
  }
}


.home .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 22vw;
  margin-bottom: 50px;
}

.home .content .wrapper {
  width: 100%;
}

.home .content .name {
  white-space: nowrap;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  height: fit-content;
  width: fit-content;
  padding-left: 5px;
}

.home .content .staticTitle {
  font-size: 100px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;

}

.home .content .staticTitle .hrLine {
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  margin-left: 20px;
  width: 20vw;
}

.home .content .dynamicTitle {
  font-size: 100px;
  font-weight: 500;
  line-height: 100px;
  width: fit-content;

}

.home .content .dynamicTitle li {
  width: 100%;
  z-index: -1;
}

@keyframes slider {
  0%   {width: 0%; }
  50% {width: 42%; }
  100% {width: 0%;}
}

@keyframes fadeText {
  0%   {opacity: 0;}
  100% {opacity: 0;}
}

.home .content .dynamicTitle li span {
  white-space: wrap;
  background-image: linear-gradient(to right, #ffe1a0, #f67280, #F94892);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.home .content .dynamicTitle li span::before {
  content: '';
  width: 100%;
  height: 20%;
  z-index: -1;
}

.mask .bg {
  height: 80vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -3;
}

@media screen and (max-width: 950px) {
  .mask .bg{
      opacity: 40%;
  }

  .home .content .staticTitle {
      font-size: 90px;
  }

  .home .content .dynamicTitle {
      font-size: 90px;
  }

}

@media screen and (max-width: 750px) {
  .home .content{
      align-items: center;
      padding: 0 12vw;
  }
  .home .content .name {
      font-size: 20px;
      font-weight: 600;
      line-height: 60px;
  }

  .home .content .staticTitle {
      font-size: 12vw;
  }

  .home .content .staticTitle .hrLine {
      width: 22vw;
  }

  .home .content .dynamicTitle {
      font-size: 12vw;
      line-height: 60px;
  }

  .hire {
      font-size: 16px;
  }
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin: 50px 7vw 0px 15vw;
}

.skill-container .skill-header {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.skill-container .skill-box {
  width: 100%;
}

.skill-box h2 {
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.skill-box .skillset {
  margin: 25px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px 25px;
}

.techLogo {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  height: 120px;
  width: auto;
  padding: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.skill-box .skillset abbr .techLogo:hover{
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.4);
  transform: scale(1.15);
}

@media screen and (max-width: 1040px), (max-height: 550px) {

  .skill-container {
      margin: 50px 7vw 0px 20vw;
  }
}

@media screen and (max-width: 750px) {
  .skill-container {
      padding-top:  80px;
      margin: 0 50px 0px;
  }

  .techLogo {
      height: 80px;
      padding: 14px;
  }
}

.footer {
  width: 100%;
  padding: 2rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  white-space: nowrap;
}

.project-window {
  width: 100%;
  padding: 160px 7vw 0 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.project-wrapper.odd {
  flex-direction: row-reverse;
}

.project-title {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.about-project .desc {
  font-size: 18px;
  font-weight: 400;
}

.project-img {
  margin-left: 100px;
  object-fit: contain;
  animation: jump 2.7s infinite;
  position: relative;
  top: 0px;
  filter: drop-shadow(2px 10px 20px rgba(255, 255, 255, 0.32));
}

.odd .project-img {
  margin-right: 100px;
  margin-left: 0;
}

@keyframes jump {
  0% {
      top: 20px;
  }

  50% {
      top: -20px;
  }

  100% {
      top: 20px;
  }
}

.project-img  img {
  border-radius: 18px;
  max-width: 500px;
  width: fit-content;
  height: auto;
}

@media screen and (max-width: 1150px) {
  .project-window {
      padding-left: 17vw;
      padding-top: 180px;
  }

  .project-img {
      margin-left: 60px;
  }

  .odd .project-img {
      margin-right: 60px;
  }

  .project-img  img  {
      max-width: 400px;
  }
}

@media screen and (max-width: 950px), screen and (max-height: 550px) {
  .project-wrapper, .project-wrapper.odd {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }
  .project-window {
      padding-left: 25vw;
      padding-top: 100px;
  }

  .project-title {
      margin-top: 40px;
  }

  .project-img {
      margin: 0;
  }

  .odd .project-img {
      margin: 0;
  }

  .project-img  img  {
      max-width: 450px;
  }
}

@media screen and (max-width: 750px) {
  .project-window {
      padding: 110px 150px 0;
  }
  .project-wrapper, .project-wrapper.odd {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }

  .project-title {
      margin-top: 35px;
      font-size: 32px;
  }

  .about-project .desc {
      font-size: 16px;
  }

  .about-project .btn {
      font-size: 16px;
  }

  .project-img {
      margin: 0;
  }
  .odd .project-img {
      margin: 0;
  }

  .project-img  img  {
      max-width: 300px;
  }
}

.contact-window {
  margin-top: 80px;
  padding: 20px 12vw 20px 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-window h1 {
  color: #fff;
  font-size: 50px;
}

.contact-window p {
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.contact-wrapper-left {
  width: 450px;
  height: 100%;
}

.contact-wrapper-right {
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper-right input, textarea {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  margin-bottom: 25px;
  padding-left: 15px;
  font-size: 18px;
  width: 100%;
  transition: 0.3s ease-in-out;
  outline: none;
}

.contact-wrapper-right input {
  height: 45px;
}

.contact-wrapper-right input:focus, textarea:focus {
  border: 1px solid #fff;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

.contact-wrapper-right textarea {
  padding-top: 12px;
}



@media screen and (max-width: 1190px) {
  .contact-wrapper-left {
      max-width: 380px;
      width: 100%;
  }

  .contact-wrapper-right input {
      height: 40px;
      font-size: 16px;
      margin-bottom: 12px;
  }

  .contact-wrapper-right textarea {
      font-size: 16px;
      margin-bottom: 20px;
  }

  .btn#submitBtn {
      margin-top: 0px;
      font-size: 16px;
      font-weight: 400;
  }
}


@media screen and (max-width: 945px), (max-height: 550px) {
  .contact-window {
      padding: 100px 18vw 20px 18vw;
      margin: 0;
  }

  .contact-window h1 {
      font-size: 40px;
  }

  .contact-window p {
      font-size: 14px;
  }

  .contact-wrapper-left {
      display: none;
  }

  .contact-wrapper-right {
      width: 100%;
      padding: 0;
  }

  .contact-wrapper-right form {
      padding-left: 0;
  }
}

.about-container {
  display: flex;
  margin: 80px 13vw 0 18vw;
  padding-top: 60px;
}

.profile-photo {
  margin-left: 50px;
  height: fit-content;
  padding: 0;
}

.profile-photo .heading {
  font-size: 22px;
  font-weight: 600;
  margin-top: 100px;
  color: #F94892;
}

.profile-photo .img {
  width: 100%;
  z-index: -3;
}

.about-container .name {
  line-height: 85px;
  position: absolute;
  right: 6.5vw;
  padding-top: 75px;
  width: 110px;
  overflow-wrap: break-word;
  color: #F94892;
  text-transform: uppercase;
  z-index: 0;
  font-size: 100px;
  font-family: 'Intro', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-linear-gradient(-86deg, #ffe1a0  5%, #f67280 53%, #F94892 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  background-clip: text;
  /* color: #2c2c2c; */
  color: black;
}

.about-container .aboutMe-text {
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  height: fit-content;
}

.aboutMe-text span {
  color: #F94892;
}

.about-container .aboutMe-text h3 {
  color: #fff;    
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-container .aboutMe-text .resume {
  color: #F94892;
  border-bottom: 2.5px solid #F94892;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 800;
}

.about-container .aboutMe-text .resume:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1150px) {
  .about-container .aboutMe-text {
      font-size: 16px;
  }
  .about-container .name {
      font-size: 80px;
      width: 80px;
      line-height: 70px;
      right: 8vw;
  }
}

@media screen and (max-width: 925px) {
  .about-container {
      flex-direction: column;
      align-items: center;
  }

  .heading, .about-container .name {
      display: none;
  }

  .about-container .aboutMe-text {
      text-align: center;
  }

  .img {
      display: none;
      margin-top: 50px;
      max-width: 400px;
  }
}

@media screen and (max-width: 750px) {
  .about-container {
      margin-left: 9vw;
      margin-top: 0;
      padding-top: 70px;
  }
}


/* css for ParticlesComponent */
.particles-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  /* Set a negative z-index to keep it behind other content */
}